Repository linhaotxll/slice-file-upload: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
	"*.js": [
		"prettier --write",
		"eslint --fix"
	],
	"*.ts": [
		"prettier --write",
		"eslint --fix"
		],
	"*.tsx": [
		"prettier --write",
		"eslint --fix"
	],
	"*.json": [
		"eslint --fix"
	],
	"*.html": [
		"prettier --write"
	]
}

feat: feat: 修改commit-pre规则
  .lintstagedrc.json
  index.html
Due: prettier --write, eslint --fix

feat: 新增exports字段标识导出目录
  package.json
Due: eslint --fix

feat: 增加npm发布配置,删除ts额外配置
  package.json
  tsconfig.cjs.json
  tsconfig.esm.json
Due: eslint --fix

fix: worker找不到资源,增加merge result
  package.json
  src/index.ts
  src/interface.ts
  src/useSliceUpload.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

chore: 版本+1
  package.json
Due: eslint --fix

fix: 修改自定义请求异步问题
  src/interface.ts
  src/useSliceUpload.ts
Due: prettier --write, eslint --fix

docs: 文档修改
  README.md
Due: none

chore: 打包目录修改
  package.json
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

build: 版本1.1.1
  package.json
Due: eslint --fix

feat: 额外hook
  README.md
  pnpm-lock.yaml
  src/helpers/Chunk.ts
  src/interface.ts
  src/useSliceUpload.ts
  src/utils/hooks.ts
  src/utils/request.ts
Due: prettier --write, eslint --fix

feat: 修改依赖版本,格式化代码
  .cz-config.js
  .editorconfig
  .eslintignore
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  commitlint.config.js
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/env.d.ts
  src/helpers/Chunk.ts
  src/interface.ts
  src/internal-interface.ts
  src/useSliceUpload.ts
  src/utils/concurrent.ts
  src/utils/hooks.ts
  src/utils/merge.ts
  src/utils/request.ts
  src/utils/serialize.ts
  src/utils/types.ts
  src/worker.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

feat: 增加vscode配置
  .gitignore
  .vscode/settings.json
Due: eslint --fix

feat: 过滤切片支持多个
  src/interface.ts
  src/useSliceUpload.ts
Due: prettier --write, eslint --fix

chore: v1.2.0
  package.json
Due: eslint --fix

feat: 重写 error ts 类型
  src/interface.ts
Due: prettier --write, eslint --fix

chore: v1.2.1
  package.json
Due: eslint --fix

feat: 标注 ts 类型
  src/interface.ts
  src/utils/serialize.ts
Due: prettier --write, eslint --fix
